.header {
    background: $blur-bg;
    backdrop-filter: blur(2.5px);
    padding: 36px 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    -webkit-mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
    &__title {
        @include text(mob-title);
    }
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__icon {
        background: transparent;
        border: none;
        height: 48px;
        width: 48px;
        border-radius: 50%;
        background: $green;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        & img {
            object-fit: contain;
            max-width: 28px;
            height: 28px;
        }
    }
    &__hug {
        display: flex;
        align-items: center;
        gap: 20px;
    }
    &__theme {
        display: block;
        background: transparent;
        border: none;
        max-width: 28px;
        height: 28px;
        cursor: pointer;
    }
}