.wrapper {
    padding-bottom: 28px;
    border-bottom: 1px solid $mess;
    margin-bottom: 28px;
}

.title {
    display: flex;
    align-items: center;
    gap: 18px;
    margin-bottom: 16px;
}

.icon {
    flex-shrink: 0;
}

.text {}
