.panel {
    margin-bottom: 16px;
}

.label {
    margin-bottom: 16px;
}

.error {}

.search {
    position: relative;
    width: fit-content;
    margin-bottom: 16px;
}

.input {
    width: 260px;
    border: 1px solid $mess;
    border-radius: 20px;
    background: $light;
    padding: 8px 40px 8px 16px;
    @include text(mob-text);
    color: $text;

    &::placeholder {
        color: $bg-dark;
    }
}

.clearButton {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    left: auto;
    border: none;
    background: transparent;
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.historyButton {
    position: absolute;
    right: -30px;
    top: 50%;
    transform: translateY(-50%);
    left: auto;
    border: none;
    background: transparent;
    height: 22px;
    width: 22px;
    cursor: pointer;
}

.history {
    position: absolute;
    top: 50px;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 260px;
    padding: 8px 16px;
    height: auto;
    border: 1px solid $mess;
    border-radius: 20px;
    background: $light;
    color: $green;
    z-index: 5;
}

.historyItem {
    cursor: pointer;
    transition: all .3s ease;

    &:hover {
        color: $green;
        font-weight: 700;
    }
}

.results {
    position: absolute;
    top: 50px;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 260px;
    padding: 8px 16px;
    height: auto;
    border: 1px solid $mess;
    border-radius: 20px;
    background: $light;
    color: $green;
    z-index: 5;
}

.resultItem {}

.recipe {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 16px 12px;
    border-radius: 20px;
    background: $mess;
    color: $light;
    margin-bottom: 12px;
}

.ingredient {}

.name {
    max-width: fit-content;
    padding: 4px 10px;
    border-radius: 20px;
    color: $green;
    background: $bg-light;
    margin-bottom: 8px;
    @include text(mob-subtitle);
}

.details {
    display: flex;
    gap: 4px;
    width: 100%;
    overflow-x: auto;
    padding-bottom: 8px;
    border-bottom: 1px solid $light;
    white-space: nowrap;
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
        display: none;
    }
}

.weight,
.nutrition {
    flex-shrink: 0;
}

.fats {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    margin-bottom: 12px;
}

.fatItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px 12px;
    border-radius: 20px;
    background: $mint;
    color: $light;
    min-width: 70px;
}

.fatLabel {
    @include text(mob-text);
}

.fatValue {
    @include text(mob-subtitle);
    font-weight: 700;
}
