.page {}

.loading {
  text-align: center;
}

.header {
  padding-bottom: 28px;
  border-bottom: 1px solid $mess;
  margin-bottom: 28px;
}

.title {
  display: flex;
  align-items: center;
  gap: 18px;
  margin-bottom: 16px;
  @include text(title, semi-bold);
  color: $green;
}

.titleIcon {
  flex-shrink: 0;
}

.userInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.savedRecipesTitle {
  margin-bottom: 16px;
}

.value {
  @include text(subtitle, semi-bold);
  color: $text;
}

.logoutButton {
  width: 100%;
  padding: 14px 20px;
  background: transparent;
  color: $red;
  border: 2px solid $red;
  border-radius: 20px;
  @include text(mob-text, semi-bold);
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    cursor: pointer;
  }

  &:active {
    transform: translateY(0);
  }
}