$font-sizes: (
    text: 1.125rem,
    subtitle: 1.5rem,
    title: 2.25rem,
    head-title: 2.75rem,
    mob-text: 1rem,
    mob-subtitle: 1.25rem,
    mob-title: 2rem,
    mob-head-title: 2.25rem
);

$line-heights: (
    text: 1.25,
    subtitle: 1.2,
    title: 1.5,
    head-title: 1.4,
    mob-text: 1.25,
    mob-subtitle: 1.2,
    mob-title: 1.5,
    mob-head-title: 1.4,
);

$font-weights: (
    regular: 400,
    medium: 500,
    semi-bold: 600
);
